* {
    font-family: 'helvetica', 'sans-serif';
    margin: 0;
}



header {
    background-color: #131313;
    padding: 5px 0;
    position: relative;
    border-bottom: 1px solid #FFB320;
    max-height: 80px;

}

header .logo3 a {
    background-image: url('../img/vglogo2.png');
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block;

    height: 100px;
    top: -10px;
    width: 100px;
    position: relative;
    text-indent: -999999px;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-google {
    background: #430297;
    color: white;
}